<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인페이지</title>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <th:block th:replace="/fragment/config.html :: configFragment"></th:block>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    #slideShow {
      clear: both;
      width: 100%;
      height: auto; /* height 값을 auto로 변경 */
      overflow: hidden;
      position: relative;
    }

    #slides {
      position: relative; /* position 값을 상대적으로 변경 */
      width: 100%; /* 추가 */
    }

    #slides > img {
      width: 100%;
      height: auto;
      float: left;
    }
  </style>
</head>
<body>
<div id="header">
  <th:block th:replace="/fragment/header.html :: headerFragment"></th:block>
</div>

<!---------------------------로그인 됐을 때-------------------------------->
<div id="loggedIn" style="display: none;">
  <p>You are logged in!</p>
  <form action="/users/logout" method="post">
    <button id="logoutButton">Logout</button>
  </form>
</div>
<!------------------------로그아웃 됐을 때------------------------------>
<div id="loggedOut" style="display: none;">
  <p>You are not logged in!</p>
  <a href="/users/login_proc">Login</a>
</div>
<!-- 위의 로그인 됐을 때, 안 됐을 때 작동 안 함. 헤더랑 겹치는 아이디어서 그런듯-->
<div id="slideShow">
  <div id="slides">
    <img src="/images/image1.jpg" alt="">
    <img src="/images/image2.jpg" alt="">
    <img src="/images/image3.jpg" alt="">
  </div>
</div>

<div id="footer">
  <th:block th:replace="/fragment/footer.html :: footerFragment"></th:block>
</div>
<script src="/js/slideshow.js"></script>
<script src="/js/jwtRead.js"></script>
</body>
</html>
