<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div id="header"></div>
<div id="pageTitle">
    <h1>로그인</h1>
    <hr>
</div>
<form id="loginForm" th:action="@{/users/login_proc}" method="post">
    <div class="form-group1">
        <input type="text" id="userId" name="userId" placeholder="아이디를 입력하세요" required>
        <input type="password" id="userPassword" name="userPassword" placeholder="비밀번호를 입력하세요" required>
    </div>
    <div class="form-group2">
        <button class="imgbutton"><img src="/images/login_google.png" onclick="location.href='.'" ></button>
        <button class="imgbutton"><img src="/images/login_kakao.png" onclick="location.href='.'" ></button>
    </div>
    <div class="form-group3">
        <button class="button" type="button" onclick="location.href='/register.html' ">회원 가입하기</button>
        <button class="button" type="submit">로그인</button>
    </div>
</form>
<div id="footer"></div>

<script>
    /* 헤더 푸터 로드 */
    function loadHTMLContent(url, elementId) {
    fetch(url)
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.text();
        })
        .then(data => {
            document.getElementById(elementId).innerHTML = data;
        })
        .catch(error => {
            console.error('Error loading HTML content:', error);
        });
}
document.addEventListener('DOMContentLoaded', function() {
    loadHTMLContent('/header.html', 'header');
    loadHTMLContent('/footer.html', 'footer');
});

    /* 폼 제출 시 동작 */
    document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault(); // 폼의 기본 제출 동작 방지

        var loginDto = {
            userId: document.getElementById('userId').value,
            userPassword: document.getElementById('userPassword').value
        };

        fetch('/users/login_proc', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(loginDto)
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.message === "Login successful") {
                    console.log('로그인 성공');
                } else {
                    console.log('로그인 실패: ' + data.message);
                    alert("아이디 혹은 비밀번호를 확인해주세요");
                }
            })
            .catch(error => {
                console.error('로그인 중 오류가 발생했습니다.', error);
            });
    });
</script>
</body>
</html>