<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <th:block th:replace="/fragment/config.html :: configFragment"></th:block>
</head>
<body>
<div id="header">
    <th:block th:replace="/fragment/header.html :: headerFragment"></th:block>
</div>
<div id="pageTitle">
    <h1>회원가입</h1>
    <hr>
</div>
<form id="registrationForm" th:action="@{/users/register}" method="post" onsubmit="return submitForm();">
    <div class="form-group">
        <input type="text" id="userNickName" name="userNickName" placeholder="닉네임 입력" required>
        <input type="button" class="nickname_check" onclick="checkUserNicknameExists()" value="닉네임 중복검사">
    </div>
    <div class="form-group">
        <input type="text" id="userId" name="userId" placeholder="아이디 입력" required>
        <input type="button" class="id_check" onclick="checkUserIdExists()" value="아이디 중복검사">
    </div>
    <div class="form-group">
        <input type="password" id="userPassword" name="userPassword" placeholder="비밀번호 입력" required>
    </div>
    <div class="form-group">
        <input type="password" id="confirmPassword" name="confirmPassword" placeholder="비밀번호 확인" required>
    </div>
    <button type="submit" id="submit">가입하기</button>
</form>
<div id="footer">
    <th:block th:replace="/fragment/footer.html :: footerFragment"></th:block>
</div>
<script>
    /* 작성 폼 전송 */
    function submitForm() {
        var form = document.getElementById('registrationForm');
        var formData = new FormData(form); // 해당 폼 데이터를 'FormData' 객체로 만듭니다.
        var jsonObject = {}; // 폼 데이터를 저장할 빈 객체를 만듭니다.

        formData.forEach(function(value, key) {
            jsonObject[key] = value; //'FormData' 객체의 각 값을 key-value 쌍으로 'jsonObject'에 추가합니다.
        });

        // 서버에 데이터를 전송하기 위해 'fetch' 함수를 사용합니다.
        fetch('/users/register', {  // 요청 보낼 서버의 URL
            method: 'POST', // HTTP POST 메서드를 사용하여 데이터를 전송
            headers: {
                'Content-Type': 'application/json' // 전송할 데이터의 형식을 JSON으로 지정
            },
            body: JSON.stringify(jsonObject) // 'jsonObject'를 JSON 문자열로 변환하여 요청 본문에 포함합니다.
        })
            .then(response => response.json())  // 서버로부터의 응답을 JSON 형식으로 변환
            .then(data => {
                // 서버 응답 코드가 '0000'이면 회원가입 성공으로 간주
                if (data.resultCode='0000') {
                    console.log('회원가입 성공:');
                    window.location.href = "/users/login_proc"; // 로그인 페이지로 리다이렉션
                } else { // 서버 응답에 'error'가 포함되어 있으면 회원가입 실패로 간주
                    console.error('회원가입 실패:', data.error || data);
                    alert('회원가입 실패: ' + (data.error || data));
                }
            })
            .catch(error => console.error('Error:', error));

        return false; // 폼이 전통적인 방식으로 제출되는 것을 방지
    }

</script>
<script src="/js/idCheck.js"></script>
<script src="/js/nicknameCheck.js"></script>
<script src="/js/jwtRead.js"></script>
</body>
</html>
