@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  text-decoration:none;  /* 텍스트 링크 밑줄 없애기 */ 
}
ul {
  list-style: none;
}
#header{
  width:100%;    /*  너비 */
  height:100px;   /* 높이 */ 
  background-color:rgba(255, 255, 255, 0.774);
  box-sizing: border-box;   /* 박스 영역은 테두리까지 */
  font-weight: 400;
  font-style: normal;
}

/* 로고 */
#logo{
  display: flex;  /* Flexbox 컨테이너로 설정 */
  align-items: center;  /* 세로 정렬 */
  justify-content: space-between;  /* 양쪽 정렬 */
  padding: 0 20px;  /* 좌우 패딩 추가 */

  float:left;   /* 왼쪽으로 플로팅 */
  width:200px;   /*  너비 */
  height:100px;   /* 높이 */
  display: flex;
  align-items: center;  /* 세로 정렬 */
}
#logo h1 {
  font-family: 'S-CoreDream-3Light';
  font-weight:700;
  font-size:20px;   /* 글자 크기 */
  color:#000000;   /* 글자 색*/
  text-shadow:0 -1px 0 #22222279;   /* 그림자 색 */
}

/* 내비게이션 */
nav{
  float:right;   /* 오른쪽으로 플로팅 */
  height:100px;   /* 메뉴 영역 높이 */
  padding-top:40px;  /* 메뉴를 아래로 내리기 위해 */
  padding-right:50px;
  font-family: "Noto Serif KR", serif;
}

#topMenu > div {
  height:50px;
}

#topMenu > div> li {
  float: left;  /* 메뉴 항목을 왼쪽으로 플로팅 */
  position: relative;  /* 서브 메뉴를 absolute로 하기 위해, 이 부분을 relative로 */
}
#topMenu> div > li > a, #topMenu> div > li > button{
  display:block;  /* 링크 텍스트는 블록으로 */
  color:#a1a1a1;  /* 글자 색 */
  font-weight:500;  /* 글자 굵기 */
/*  text-shadow:0 1px #07c;   그림자 추가 */
  padding:10px 15px;  /* 패딩 */
}
#topMenu> div > li > a > span {
  font-size : 0.5em;   /* 서브 메뉴가 있는 항목에 화살표 표시 */
}
#topMenu> div > li > a:hover{
  color:#000;  /* 마우스 오버하면 색상 바뀜 */
/*  text-shadow:0 -1px #07c;   글자가 너무 굵어지지 않도록 */
}

#topMenu> div > li > ul { /* 서브 메뉴 스타일 */
  display: none;  /* 서브 메뉴 처음에는 화면에 안 보이게 */
  position:absolute;  /* 서브 메뉴 포지셔닝 */
  width:130px;
  background:rgba(255,255,255,0.6);  /* 슬라이드 쇼 비치도록 배경 색 조절 */
  left:20px;
  margin:0;
  padding:5px;
}
#topMenu> div > li > ul > li {    /* 서브 메뉴 항목 */
  padding:10px 5px 10px 5px;
}
#topMenu> div > li > ul > li > a {
  font-size:12px;
  color:#757575;
}
#topMenu> div > li:hover > ul {
  display: block;  /* 메인 메뉴 항목 위로 오버하면 서브 메뉴 표시 */
  z-index:10;  /* 슬라이드 쇼에 가리지 않게 조절 */
}
#topMenu> div > li > ul > li > a:hover {
  color:rgb(0, 0, 0);  /* 서브 메뉴 마우스 오버하면 색상 바뀜 */
}

#logoutButton{
  border: 0;
  background-color: transparent;
  margin-top: 8px;
  color:#757575;
}

#logoutButton:hover{
  color:#000;  /* 마우스 오버하면 색상 바뀜 */
  /*  text-shadow:0 -1px #07c;   글자가 너무 굵어지지 않도록 */
}